<% if flash.any? %>
    <%= flash[:alert] %>
<% end %>

<h1>Events:</h1>
<% @events.each do |event| %>
    <div style="display: flex; flex-direction: column; margin: 10px;">
        <div><%= link_to event.title, event_path(event) %></div>
        <div><%= event.date %></div>
        <div><%= event.body %></div>
        <%= link_to 'Attend Event',  attended_events_path(event_id: event.id), data: { turbo_method: :post } %>
    </div>
<% end %>
