<% if flash.any? %>
    <div class='flash'>
        <%= flash[:alert] %>
    </div>
<% end %>

<div>
    
</div>

<h1>Upcoming Events:</h1>
<% @events.future_events.each do |event| %>
    <div class='list-events'>
        <div><%= link_to event.title, event_path(event) %></div>
        <div><%= event.date %></div>
        <div><%= event.body %></div>
        <%= link_to 'Attend Event',  attended_events_path(event_id: event.id), data: { turbo_method: :post } %>
    </div>
<% end %>

<h1>Past Events:</h1>
<% @events.past_events.each do |event| %>
    <div class='list-events'>
        <div><%= link_to event.title, event_path(event) %></div>
        <div><%= event.date %></div>
        <div><%= event.body %></div>
        <%= link_to 'Attend Event',  attended_events_path(event_id: event.id), data: { turbo_method: :post } %>
    </div>
<% end %>
